<p id="notice"><%= notice %></p>

<h1>Budgets</h1>


<table>
  <thead>
    <tr>
      <th>year/month</th>
      <th>money</th>
      <th>content</th>
      <th>comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.b_year %>/<%= budget.b_month %></td>
        <td><%= budget.b_money %></td>
        <td><%= budget.content.name %></td>
        <td><%= budget.b_comment %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget', new_budget_path %>
