<p id="notice"><%= notice %></p>

<h1>Budgets</h1>
<table>
  <thead>
    <tr>
      <th>year/month</th>
      <th>money</th>
      <th>content</th>
      <th class="comment">comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td class="date"><%= budget.b_year %>/<%= budget.b_month %></td>
        <td class="money">￥<%= budget.b_money.to_s(:delimited) %></td>
        <td class="content"><%= budget.content.name %></td>
        <td class="comment"><%= budget.b_comment %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Budget', new_budget_path %>
