<%= form_with(model: performance, local: true) do |form| %>
  <% if performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :p_year %>
    <%= form.number_field :p_year, :value => @d.year %>
  </div>

  <div class="field">
    <%= form.label :p_month %>
    <%= form.number_field :p_month, :value => @d.month %>
  </div>

  <div class="field">
    <%= form.label :p_day %>
    <%= form.number_field :p_day, :value => @d.day %>
  </div>

  <div class="field">
    <%= form.label :content_id %>
    <%= form.collection_select :content_id, Content.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :p_money %>
    <%= form.number_field :p_money %>
  </div>

  <div class="field">
    <%= form.label :p_comment %>
    <%= form.text_field :p_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
