<p id="notice"><%= notice %></p>

<h1>Performances</h1>

<table>
  <thead>
    <tr>
      <th>year/month/day</th>
      <th>money</th>
      <th>Content</th>
      <th class="comment">comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @performances.each do |performance| %>
      <tr>
        <td class="date"><%= performance.p_year %>/<%= performance.p_month %>/<%= performance.p_day %></td>
        <td class="money">￥<%= performance.p_money.to_s(:delimited) %></td>
        <td class="content"><%= performance.content.name %></td>
        <td class="comment"><%= performance.p_comment %></td>
        <td><%= link_to 'Destroy', performance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Performance', new_performance_path %>

