<!DOCTYPE html>
<html>
  <head>
    <title>Kakinbo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <a href="/"><H1>Kakinbo</H1></a>
      <nav class="pc-nav">
        <ul>
          <% if logged_in? %>
            <li><a href="/budgets">予算</a></li>
            <li><a href="/performances">実績</a></li>
            <li><a href="/contents">コンテンツ</a></li>
            <li>/</li>
            <li><%= link_to "Users", '#' %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    </main>
  </body>
</html>
